* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: "Poppins", sans-serif;
}

.flex_center_display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  border-radius: 8px !important;
  box-shadow: none !important;
  color: white !important;
  text-transform: none !important;
}

.react-tel-input{
  input{
    width: 100% !important;
  }
} 

.cust_img_box {
  max-width: 130px;
}

.cust_issue_img{
  max-width: 60px;
}

@media (max-width: 500px) {

}