* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: "Poppins", sans-serif;
}

.flex_center_display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  border-radius: 8px !important;
  box-shadow: none !important;
  color: white !important;
  text-transform: none !important;
}

.react-tel-input {
  input {
    width: 100% !important;
  }
}

.cust_img_box {
  max-width: 130px;
}

.cust_issue_img {
  max-width: 60px;
}

.left_quote {
  position: relative;
  padding-bottom: 12px;
}
.left_quote::after {
  content: "";
  display: block;
  width: 124px;
  height: 3px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background-color: #5fbb4c;
}

.right_quote {
  position: relative;
  padding-bottom: 12px;
}

.right_quote::after {
  content: "";
  display: block;
  width: 124px;
  height: 3px;
  background-color: #5fbb4c;
  position: absolute;
  left: 0;
  bottom: 0;
}


.MuiStep-root{
  .MuiStepIcon-text{
    fill: white !important;
  }
  .MuiStepLabel-label{
    p{
      font-weight: bold !important;
    }
  }
}

@media (max-width: 500px) {
}
